@import url('https://fonts.googleapis.com/css2?family=Oxanium&family=Poppins:ital,wght@0,200;1,200&display=swap');

.App{
    min-height: 100vh;
    display:flex;
    background-color: #282828;
    color:white;
    background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url('assets/background-2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    font-family: "Oxanium";
}